@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Category>
@* remove becase it's in _ViewImports
  
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers *@
@section title {
    <h3 class="display-4">Welcome to cate page </h3>
}
 
@if (Model != null && Model.Count() > 0)
{
   <table class="table table-striped">
       <thead>
           <tr>
               <th>Name</th>
               <th>Description</th>
               <th> </th>
                <th> </th>
           </tr>
       </thead>
       <tbody>

            @foreach (var category in Model)
            {  
                <tr>
                    <td>@category.Name</td>
                    <td>@category.Description</td>
                    @* <td><a class=" btn btn-link" href="@($"/categories/edit/{category.CategoryId}")">Edit</a></td> *@
                    <td><a class=" btn btn-link" asp-controller="categories" asp-action="edit" asp-route-id = "@category.CategoryId" >Edit</a></td>
                    <td><a class=" btn btn-link" asp-controller="categories" asp-action="delete" asp-route-categoryId="@category.CategoryId" onclick="return confirmDelete()">Delete</a></td>


                </tr>
               

            }

        </tbody>

   </table> 
   <br/>

   <a class=" btn btn-primary" asp-controller="categories" asp-action="Add">Add</a>
    
}

@section Scripts{
<script>
    function confirmDelete(){
        return confirm("Are you sure ? ");;
    }
</script>
}
        

    
     
       
 

                  