@inject IViewCategoriesUseCase ViewCategoriesUseCase
@inject IViewItemsByCategoryId ViewItemsByCategoryId

<div class="form-group">
    <label for="category">Category</label>
    <select id="category" @bind="SelectedCategoryId" class="form-control">
        <option selected></option>
        @foreach (var cat in categories)
        {
            <option value="@cat.CategoryId">@cat.Name</option>
        }
    </select>
</div>
@if (ItemsInCategory != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Prod Name</th>
                <th>Qty Left</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prod in ItemsInCategory)
            {
                <tr @onclick="@(() => OnSelectItem(prod))" 
                    style="@(prod.ItemId == selectedItemId?"background-color:beige; cursor:pointer;":"cursor:pointer")">
                    <td>
                        @prod.Name
                    </td>
                    <td>
                        @prod.Quantity
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {

    private IEnumerable<Item> ItemsInCategory;
    private int selectedItemId;

    [Parameter]
    public EventCallback<Item> OnItemSelected{ get; set; }

    private int selectedCategoryId;
    private int SelectedCategoryId {
        get
        {
            return selectedCategoryId;
        }
        set
        {
            selectedCategoryId = value;
            ItemsInCategory = ViewItemsByCategoryId.Execute(value);

            //need clean
            OnSelectItem(null);
           
            //need
            StateHasChanged();
        }
    }

    private IEnumerable<Category> categories;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        categories = ViewCategoriesUseCase.Execute();
    }

    private void OnSelectItem(Item Item)
    {        
        OnItemSelected.InvokeAsync(Item);
        if (Item != null) selectedItemId = Item.ItemId;

    }


}
